<div class="editor-header">
  <label>标题
    <input placeholder="title" name="article-title" [(ngModel)]="article.title" />
  </label>
</div>

<div class="editor-tool-bar">
  <button (click)="save()" class="editor-save">save</button>
  <button class="editor-save" (click)="publishBlog()">publish</button>
</div>

<div class="editor-container" id="editor_container">
  <div *ngIf="mode=='editor'" class="editor-text-area" id="editor" contenteditable="true"
       (keyup)="getContent($event)" #editor>
  </div>
  <div class="preview-container" [innerHTML]="content | highLightTransform" id="preview" #preview>
  </div>
</div>
