.content-wrapper {
  background-color: #FFFFFF;
  width: 70%;
  margin: 10px auto;
  border-radius: 5px;
  //box-shadow: 1px 1px 10px 1px;
  padding: 10px;

  .article-content {
    margin-top: 30px;
  }
}
